<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/ayush._.1725" style="color: inherit;"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/iamayushpatel" style="color: inherit;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/iamayushpatel" style="color: inherit;"><i class="fa-brands fa-square-github"></i></a>
        </div>
        <div class="f-info-links">
            <div class="f-info-brand">&copy; 2025 WanderLust</div>|
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>