<style>
  .search-btn {
    background-color: #00b3fe;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-btn:hover {
    background-color: #00b3fe;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 0.9rem;
    text-align: center;
    width: 300px;
  }

  #responsive-registration {
    display: none;
  }

  .dropdown {
    margin-left: auto !important;
    width: 280px;
    display: flex;
    justify-content: end;
  }

  .dropdown p {
    display: inline;
  }

  .dropdown button {
    width: auto !important;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown-menu {
    margin-top: 0.5rem !important;
    width: 12rem;
    padding: 0.5rem;
    transform: translateX(45%);
  }

  .fa-circle-user {
    font-size: 1.5rem;
  }

  /* Flexbox Layout for Navbar */
  .navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  /* Centering Search bar */
  .nav-search {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /* max-width: 760px; */
  }

  /* Responsive Adjustments */
  @media (max-width: 767px) {
    .dropdown {
      display: none;
    }

    .navbar-collapse {
      flex-direction: column;
      text-align: center;
    }

    .nav-search {
      width: 80%;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: -0.5rem;
    }

    .search-inp {
      border-radius: 25px;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      font-size: 0.85rem;
      text-align: center;
      width: 250px;
    }

    #responsive-registration {
      display: inline;
      margin: 1rem;
    }

    .navbar-nav {
      text-align: center;
      margin: 0 auto;
    }

    .container-fluid {
      background-color: white;
    }
  }

  @media (max-width: 1033px) and (min-width: 767px) {
    .nav-search {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      max-width: 473px;
    }

    .dropdown {
      margin-left: auto !important;
      display: flex;
      justify-content: end;
      width: auto;
    }

    .dropdown-menu {
      margin-top: 0.5rem !important;
      width: 12rem;
      padding: 0.5rem;
      transform: translateX(-65%);
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <img src="/icon/Logo.jpg" alt="wanderlust" class="logoimg" />
      <img src="/icon/Name.jpg" alt="wanderlust" class="nameimg" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- <div class="navbar-nav">
        <a class="nav-link" href="/listings"><b>Explore</b></a>
      </div> -->
      <div class="nav-search nav-hover-search">
        <form
          class="d-flex"
          role="search"
          action="/listings/search"
          method="get"
          id="searchBox"
        >
          <input
            class="form-control me-2 search-inp"
            type="search"
            placeholder="Location   |   Title   |   Price"
            aria-label="Search"
            name="q"
            id="mySearchInput"
          />
          <button class="btn search-btn" type="submit" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
          </button>
        </form>
      </div>

      <div class="navbar-nav">
        <div class="dropdown">
          <button
            class="btn btn-dark dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-circle-user"></i>&nbsp;&nbsp;
          </button>
          <ul class="dropdown-menu">
            <% if(!currUser) { %>
            <a class="nav-link" href="/signup"
              ><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;&nbsp;<b
                >SignUp</b
              ></a
            >
            <a class="nav-link" href="/login"
              ><b
                ><i class="fa-solid fa-user-check"></i
                >&nbsp;&nbsp;&nbsp;Login</b
              ></a
            >
            <% } %> <% if(currUser) { %>
            <h6 class="mt-1 nav-link">
              <b
                ><i class="fa-solid fa-user"></i>
                &nbsp; &nbsp;<%= currUser.username%>
              </b>
            </h6>
            <a class="nav-link" href="/logout"
              ><b
                ><i class="fa-solid fa-arrow-right-from-bracket"></i
                >&nbsp;&nbsp;&nbsp;Log Out</b
              ></a
            >
            <% } %>
            <hr style="margin: 0.5rem 0" />
            <a class="nav-link" href="/listings/new"
              ><strong
                ><i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;&nbsp;Add
                New Home</strong
              ></a
            >
          </ul>
        </div>

        <div id="responsive-registration">
          <% if(!currUser) { %>
          <a class="nav-link" href="/signup"
            ><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;&nbsp;<b
              >SignUp</b
            ></a
          >
          <a class="nav-link" href="/login"
            ><i class="fa-solid fa-user-check"></i>&nbsp;&nbsp;&nbsp;<b
              >Login</b
            ></a
          >
          <% } %> <% if(currUser) { %>
          <h6 class="mt-1 nav-link">
            <b
              ><i class="fa-solid fa-user"></i>
              &nbsp; &nbsp;<%= currUser.username%>
            </b>
          </h6>
          <a class="nav-link" href="/logout"
            ><i class="fa-solid fa-arrow-right-from-bracket"></i
            >&nbsp;&nbsp;&nbsp;<b>Log Out</b></a
          >
          <% } %>
          <a class="nav-link" href="/listings/new"
            ><i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;&nbsp;<strong
              >Add New Home</strong
            ></a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
