body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 4rem;
  background-color: white;
}

.navbar-brand {
  color: #00b3fe !important;
  font-size: 1.5rem !important;
}

.logoimg {
  height: 40px;
  border: none;
  margin-left: 7px;
}

.nameimg {
  height: 40px;
  border: none;
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-left: 0.5rem;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: #222222;
}

.f-info-links,
.f-info-socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-brand {
  margin-right: 0.5rem;
}

.f-info-links {
  margin-bottom: 0.5rem;
}

.f-info-socials i {
  margin: 0.5rem 0.4rem 0.3rem 0.4rem;
  font-size: 1.4rem;
  opacity: 0.9;
}

.f-info-socials i:hover {
  font-size: 1.5rem;
  opacity: 1;
}

.f-info {
  text-align: center;
  display: flex;
  height: 4rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 1rem;
  text-decoration: none;
}

.listing-index-img {
  height: 15rem !important;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover;
  padding: 0.5rem !important;
}

.card-body {
  padding: 0.5rem !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card-Effect */
.card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  /* box-shadow: 0 2px 10px 0 rgba(26, 26, 26, 0.35); */
  scale: 1.02;
  border-radius: 1rem;
}

.card-text {
  font-size: 1rem;
}

/* New Page */
.add-btn,
.edit-btn {
  background-color: #00b3fe !important;
  border: none !important;
}

/* Show Image */
.show-img {
  height: 30vh;
}

.edsh {
  margin-top: 0.4rem;
  height: 150px;
  border-radius: 7px;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

#booking-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 26%;
}

/* MAP */
#map {
  height: 300px !important;
  /* width: 85vh !important; */
  border-radius: 0.5rem;
  margin: 20px auto;
}

#map:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 0.7rem;
}

/*Filter*/
#filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scrollable-tabs-container {
  max-width: 995px;
  overflow: hidden;
  position: relative;
}

.scrollable-tabs-container svg {
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
}

.scrollable-tabs-container .filter-container {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollable-tabs-container .filter-container.dragging {
  scroll-behavior: auto;
}

.scrollable-tabs-container .filter-container.dragging a {
  pointer-events: none;
}

.scrollable-tabs-container .filter-container::-webkit-scrollbar {
  display: none;
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active {
  display: flex;
}

.scrollable-tabs-container .right-arrow {
  right: 0;
  background: linear-gradient(to left, #fff 50%, transparent);
  justify-content: flex-end;
}

.scrollable-tabs-container .left-arrow {
  background: linear-gradient(to right, #fff 50%, transparent);
  z-index: 9;
}

.scrollable-tabs-container svg:hover {
  background-color: #ddd;
}

.scrollable-tabs-container a {
  color: black;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

.filter {
  text-align: center;
  margin-top: 1.3rem;
  opacity: 0.65;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  padding: 0 10px;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
  border-bottom: 2.5px solid #000000;
}

.filter p {
  font-size: 0.8rem;
}

.tax-info {
  display: none;
}

/* Display Total After GST Button */
.tax-toggle {
  border: 1px solid black;
  border-radius: 0.7rem;
  height: 3.25rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  width: 25%;
  justify-content: center;
  text-align: center;
}

@media (max-width: 993px) {
  .tax-toggle {
    width: 60%;
    font-size: 0.85rem;
    height: auto;
    padding: 0.7rem;
  }
}

.review-card {
  flex-direction: row;
  align-items: center;
}

/* login */
.googleoauth button {
  border-radius: 6px;
  padding: 5px 0px;
  width: 100%;
  background-color: white;
}

.googleoauth a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  align-items: center;
}

.googleoauth img {
  width: 40px;
  height: 40px;
  border: none;
}

/* What this place Offer (show.ejs)  */
.offers {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.offers i {
  font-size: 1.3rem;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.services-offer button {
  /* height: 50px;
  width: 240px; */
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 10px;
}

/* Hosted by (show.ejs) */

.hosted {
  display: flex;
  justify-content: center;
}

.hosted i {
  font-size: 1.7rem;
  color: white;
  background-color: #00b3fe;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hosted p {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.hosted-details p {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 800;
}

.hosted-details span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

#host-description {
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  font-size: 17px;
}

#response-rt p {
  color: slategrey;
  margin: 20px;
  font-size: 16px;
}

.hosted-details button {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 576px) and (max-width: 767px) {
  .review-card {
    width: 65%;
  }

  /* margin: 20px auto; */
  #map {
    width: 95% !important;
    height: 270px !important;
  }
}

@media screen and (max-width: 992px) {
  #filters {
    flex-direction: column;
    gap: 0.5rem;
  }

  .scrollable-tabs-container {
    max-width: 100%;
  }
}

@media screen and (min-width: 425px) and (max-width: 577px) {
  #map {
    width: 95% !important;
    height: 160px !important;
  }

  .hosted-details p {
    font-size: 0.79rem;
    margin: 0px;
  }

  .hosted i {
    margin-bottom: 10px;
  }

  #response-rt p {
    margin: 10px;
    font-size: 0.8rem;
  }

  .hosted-details span {
    font-size: 0.8rem;
  }
}

@media (max-width: 430px) {
  #map {
    width: 95% !important;
    height: 160px !important;
  }

  .hosted-details p {
    font-size: 0.79rem;
    margin: 0px;
  }

  .hosted i {
    margin-bottom: 10px;
  }

  #response-rt p {
    margin: 10px;
    font-size: 0.8rem;
  }

  .hosted-details span {
    font-size: 0.8rem;
  }
}
